@model IEnumerable<P1.Models.ProductInStock>

@{
    ViewData["Title"] = "GetAccessoriesFrom";
    Layout = "~/Views/Shared/_StoreHomeLayout.cshtml";
}

<h1>Accessories In Stock</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                In Stock
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max)
            </td>
            <td>
                <a asp-action="AddToCart" asp-route-id="@item.ProductID">Add to Shopping Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
