@model IEnumerable<P1.Models.ProductInStock>

@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_StoreHomeLayout.cshtml";
}

<h1>Shopping Cart</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Quantity
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="EditQuantity" asp-route-id="@item.ProductID" class="btn-group-toggle">Edit Quantity</a>
                </td>
                <td>
                    <a asp-action="RemoveItem" asp-route-id="@item.ProductID" class="btn-group-toggle">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
