@model IEnumerable<P1.Models.Product>

@{
    ViewData["Title"] = "GetMics";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h1>Available Microphones</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="FindLocationsWithProduct" asp-route-id=@item.ProductID>Find stores with this Item</a>
            </td>
        </tr>
}
    </tbody>
</table>
