@model P1.Models.Shipping

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_StoreHomeLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Shipping</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressZipCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShippingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
